@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EditSupplierViewModel
@{
    switch (this.Model.Mode)
    {
        case ThAction.Add:
            ViewBag.Title = Localizer["Add Supplier"];
            break;
        case ThAction.Edit:
            ViewBag.Title = Localizer["Edit Supplier"];
            break;
        case ThAction.Delete:
            ViewBag.Title = Localizer["Delete Supllier"];
            break;
        default:
            break;
    }
}

<div>
    <form asp-controller="Supplier" role="form" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@this.Model.Id" value="@this.Model.Id" />
        <input type="hidden" asp-for="@this.Model.Mode" value="@this.Model.Mode" />
        <div class="form-group">
            <label asp-for="@this.Model.Name">@Localizer["Name"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-addon"><i class="fa fa-edit"></i></div>
                <input type="text" role="textbox" asp-for="@this.Model.Name" class="form-control" placeholder="@Localizer["Name"]" />
            </div>
            <div class="text-danger"><span asp-validation-for="@this.Model.Name"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Email">@Localizer["Email"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                <input type="text" role="textbox" asp-for="@this.Model.Email" class="form-control" placeholder="@Localizer["Email"]" />
            </div>
            <div class="text-danger"><span asp-validation-for="@this.Model.Email"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Phone">@Localizer["Phone"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-addon"><i class="fa fa-edit"></i></div>
                <input type="text" role="textbox" asp-for="@this.Model.Phone" class="form-control" placeholder="@Localizer["Phone"]" />
            </div>
            <div class="text-danger"><span asp-validation-for="@this.Model.Phone"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Address">@this.Localizer["Address"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-addon"><i class="fa fa-edit"></i></div>
                <input type="text" role="textbox" asp-for="@this.Model.Address" class="form-control" placeholder="@this.Localizer["Address"]" />
            </div>
        </div>
        <hr role="separator"/>
        <div class="form-group text-right">
            <button class="btn btn-primary" type="submit" asp-action="Save" title="@this.Localizer["Save"]"><i class="fa fa-save"></i></button>
        </div>
    </form>
</div>