@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProfileViewModel
@{
    this.ViewBag.Title = this.Localizer["User Profile"];
}

<div class="bg-light p-3">
    <form asp-controller="Account" asp-action="SaveProfile" method="post" asp-antiforgery="true">
        @this.Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="@this.Model.UserInformation.Email">@this.Localizer["Email"]</label>
            <div class="input-group input-group-sm">
                <span class="input-group-prepend"><i class="fa fa-envelope input-group-text"></i></span>
                <input class="form-control" type="text" asp-for="@this.Model.UserInformation.Email" placeholder="@this.Localizer["Email"]" />
            </div>
            <div><span class="bg-danger" asp-validation-for="@this.Model.UserInformation.Email"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.UserInformation.Fullname">@this.Localizer["Fullname"]</label>
            <div class="input-group input-group-sm">
                <span class="input-group-prepend"><i class="fa fa-user input-group-text"></i></span>
                <input class="form-control" type="text" asp-for="@this.Model.UserInformation.Fullname" placeholder="@this.Localizer["Fullname"]" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.UserInformation.Fullname"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.UserInformation.Address">@this.Localizer["Address"]</label>
            <div class="input-group input-group-sm">
                <span class="input-group-prepend"><i class="fa fa-map input-group-text"></i></span>
                <input class="form-control" type="text" asp-for="@this.Model.UserInformation.Address" placeholder="@this.Localizer["Address"]" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.UserInformation.Address"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.UserInformation.DateOfBirth">@this.Localizer["Date of birth"]</label>
            <div class="input-group input-group-sm">
                <span class="input-group-prepend"><i class="fa fa-calendar input-group-text"></i></span>
                <input class="form-control" type="date" asp-for="@this.Model.UserInformation.DateOfBirth" placeholder="@this.Localizer["Date of birth"]" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.UserInformation.DateOfBirth"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.UserInformation.CountryId">@this.Localizer["Country"]</label>
            <div class="input-group input-group-sm">
                <span class="input-group-prepend"><i class="fa fa-map input-group-text"></i></span>
                <select class="form-control" asp-for="@this.Model.UserInformation.CountryId" asp-items="@(new SelectList(this.Model.UserInformation.Countries, nameof(Country.Id), nameof(Country.Name)))">
                    <option value="0">@this.Localizer["Please select a country."]</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.UserInformation.CityId">@this.Localizer["City"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend"><i class="fa fa-map input-group-text"></i></div>
                <select asp-for="@this.Model.UserInformation.CityId" asp-items="@(new SelectList(this.Model.UserInformation.Cities, nameof(City.Id), nameof(City.Name)))" class="form-control">
                    <option value="0">@this.Localizer["Please select a city."]</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="text-right">
                <button type="submit" class="btn btn-primary" title="@this.Localizer["Save"]"><i class="fa fa-save"></i></button>
            </div>
        </div>
    </form>
    <form asp-controller="Account" asp-action="ChangePassword">
        @this.Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="@this.Model.PasswordInformation.CurrentPassword">@this.Localizer["Current password"]</label>
            <div class="input-group input-group-sm">
                <span class="input-group-prepend"><i class="fa fa-key input-group-text"></i></span>
                <input class="form-control" type="password" asp-for="@this.Model.PasswordInformation.CurrentPassword" placeholder="@this.Localizer["Current password"]" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.PasswordInformation.CurrentPassword"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.PasswordInformation.NewPassword">@this.Localizer["New password"]</label>
            <div class="input-group input-group-sm">
                <span class="input-group-prepend"><i class="fa fa-key input-group-text"></i></span>
                <input class="form-control" type="password" asp-for="@this.Model.PasswordInformation.NewPassword" placeholder="@this.Localizer["New password"]" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.PasswordInformation.NewPassword"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.PasswordInformation.ConfirmPassword">@this.Localizer["Confirm password"]</label>
            <div class="input-group input-group-sm">
                <span class="input-group-prepend"><i class="fa fa-key input-group-text"></i></span>
                <input class="form-control" type="password" asp-for="@this.Model.PasswordInformation.ConfirmPassword" placeholder="@this.Localizer["Confirm password"]" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.PasswordInformation.ConfirmPassword"></span></div>
        </div>
        <hr />
        <div class="text-right">
            <button class="btn btn-primary" type="submit" role="button" title="@this.Localizer["Change password"]">@this.Localizer["Change password"]</button>
        </div>
    </form>
</div>