@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model RegisterViewModel

@{
    ViewBag.Title = Localizer["Title"];
}

<div class="bg-light p-3">
    <form asp-controller="Account" asp-action="Register" method="post">
        @Html.AntiForgeryToken()
        @*<div class="form-group">
            <label asp-for="@this.Model.Username" class="col-form-label">@Localizer["Username"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <i class="fa fa-user-circle-o input-group-text"></i>
                </div>
                <input class="form-control" placeholder="@Localizer["Username"]" type="text" asp-for="@this.Model.Username" value="@Model.Username" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.Username"></span></div>
        </div>*@
        <div class="form-group">
            <label asp-for="@this.Model.Email" class="col-form-label">@Localizer["Email"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <i class="fa fa-envelope input-group-text"></i>
                </div>
                <input class="form-control" placeholder="@Localizer["Email"]" type="email" asp-for="@this.Model.Email" value="@Model.Email" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.Email"></span></div>
        </div>
        <div class="form-group">
            <label for="txtPassword" class="col-form-label">@Localizer["Password"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend"><i class="fa fa-key input-group-text"></i></div>
                <input class="form-control" placeholder="@Localizer["Password"]" type="password" id="txtPassword" asp-for="@this.Model.Password" value="@Model.Password" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.Password"></span></div>
        </div>
        <div class="form-group">
            <label for="txtPassword" class="col-form-label">@Localizer["Confirm password"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend"><i class="fa fa-key input-group-text"></i></div>
                <input class="form-control" placeholder="@Localizer["Confirm password"]" type="password" id="txtPassword" asp-for="@this.Model.ConfirmPassword" value="@Model.Password" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.ConfirmPassword"></span></div>
        </div>

        <div class="form-group">
            <label asp-for="@this.Model.Fullname" class="col-form-label">@this.Localizer["Fullname"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <i class="fa fa-user input-group-text"></i>
                </div>
                <input class="form-control" placeholder="@this.Localizer["Fullname"]" type="text" asp-for="@this.Model.Fullname" value="@this.Model.Fullname" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.Fullname"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.DateOfBirth" class="col-form-label">@this.Localizer["Date of birth"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <i class="fa fa-calendar input-group-text"></i>
                </div>
                <input class="form-control" placeholder="@this.Localizer["Date of birth"]" type="datetime-local" asp-for="@this.Model.DateOfBirth" value="@this.Model.DateOfBirth" />
            </div>
            <div><span class="text-danger" asp-validation-for="@this.Model.DateOfBirth"></span></div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Address">@this.Localizer["Address"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend"><i class="fa fa-map-pin input-group-text"></i></div>
                <input asp-for="@this.Model.Address" class="form-control" placeholder="@this.Localizer["Address"]" title="@this.Model.Address" value="@this.Model.Address" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.CountryId">@this.Localizer["Country"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend"><i class="fa fa-map input-group-text"></i></div>
                <select asp-for="@this.Model.CountryId" asp-items="@(new SelectList(this.Model.Countries, nameof(Country.Id), nameof(Country.Name)))" class="form-control">
                    <option value="0">@this.Localizer["Please select a country."]</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.CityId">@this.Localizer["City"]</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend"><i class="fa fa-map input-group-text"></i></div>
                <select asp-for="@this.Model.CityId" asp-items="@(new SelectList(this.Model.Cities, nameof(City.Id), nameof(City.Name)))" class="form-control">
                    <option value="0">@this.Localizer["Please select a city."]</option>
                </select>
            </div>
        </div>
        <hr role="separator" />
        <div class="form-group btn-grou-sm text-right">
            <button type="submit" asp-action="Register" class="btn btn-outline-primary" value="Register" title="@this.Localizer["Register"]"><i class="fa fa-save"></i></button>
        </div>
    </form>
</div>