@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CartListViewModel
@{
    ViewBag.Title = "Giỏ hàng";
}

<div class="bg-light">
    <table class="table table-sm table-striped table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th class="border border-left-0">Tên sản phẩm</th>
                <th class="text-center border">Số lượng</th>
                <th class="text-center border">Đơn giá</th>
                <th class="text-center border">Thành tiền</th>
                <th class="text-center border border-right-0">Xóa</th>
            </tr>
        </thead>
        <tbody>
            @if (this.Model.Cart.Lines == null || this.Model.Cart.Lines.Count() == 0)
            {
                <tr>
                    <td colspan="5" class="text-info">Chưa đặt hàng.</td>
                </tr>
            }
            else
            {
                @foreach (CartLine cl in this.Model.Cart.Lines)
                {
                    <tr>
                        <td>@cl.Product.Name</td>
                        <td class="text-right">@cl.Quantity</td>
                        <td class="text-right">@cl.Product.UnitPrice.ToString("C")</td>
                        <td class="text-right">@((cl.Product.UnitPrice * cl.Quantity).ToString("C"))</td>
                        <td class="text-center">
                            <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                                @Html.AntiForgeryToken()
                                <input id="@cl.Product.Id" type="hidden" name="id" value="@cl.Product.Id" />
                                <input type="hidden" name="returnUrl" value="@this.Model.ReturnUrl" />
                                <button type="submit" class="btn btn-sm btn-danger">Xóa</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="bg-dark text-white">
                <td class="text-right" colspan="3">Tổng cộng</td>
                <td class="text-right">@(this.Model.Cart.ComputeTotal().ToString("C"))</td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <div class="text-right">
        <div class="btn-group mb-3 mr-3">
            <a class="btn btn-success" href="@this.Model.ReturnUrl" title="Tiếp tục mua hàng"><i class="fa fa-plus"></i></a>
            <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout" title="Thanh toán"><i class="fa fa-check-circle-o"></i></a>
        </div>
    </div>
</div>