@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EditCategoryViewModel

@{
    switch (this.Model.Mode)
    {
        case ThAction.Add:
            ViewBag.Title = Localizer["Add Category"];
            break;
        case ThAction.Edit:
            ViewBag.Title = Localizer["Edit Category"];
            break;
    }
}

<div class="bg-light p-3">
    <form asp-controller="Product" asp-action="SaveCategory" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@this.Model.Id" value="@this.Model.Id" />
        <input type="hidden" asp-for="@this.Model.Mode" value="@this.Model.Mode" />

        <ul class="nav nav-tabs" role="tablist">
            @foreach (Language l in this.Model.SupportLanguages)
            {
                <li class="nav-item">
                    <a class="nav-link @(l.LanguageId == this.Model.CurrentLanguage ? "active" : string.Empty)" data-toggle="tab" href="#@l.LanguageId" role="tab">@l.Name</a>
                </li>
            }
        </ul>

        <div class="tab-content bg-white p-3 border border-top-0" role="tablist">
            @for (int i = 0; i < this.Model.Translations.Count; i++)
            {
                <div class="tab-pane @(this.Model.Translations[i].LanguageId == this.Model.CurrentLanguage? "active": string.Empty)" id="@this.Model.Translations[i].LanguageId" role="tabpanel">
                    <input type="hidden" asp-for="@this.Model.Translations[i].LanguageId" />
                    <div class="form-group">
                        <label asp-for="@this.Model.Translations[i].Name" class="col-form-label">@Localizer["Name"]</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <i class="fa fa-edit input-group-text"></i>
                            </div>
                            <input class="form-control" placeholder="@Localizer["Name"]" type="text" asp-for="@this.Model.Translations[i].Name" />
                        </div>
                        <div><span class="text-danger" asp-validation-for="@this.Model.Translations[i].Name"></span></div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@this.Model.Translations[i].Description">@Localizer["Description"]</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><i class="fa fa-sticky-note input-group-text"></i></div>
                            <textarea asp-for="@this.Model.Translations[i].Description" class="form-control" rows="10" placeholder="@Localizer["Description"]"></textarea>
                        </div>
                        <div><span asp-validation-for="@this.Model.Translations[i].Description" class="text-danger"></span></div>
                    </div>
                </div>
            }
        </div>
        <div class="form-group mt-2">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-1 text-center">
                    <img class="img-thumbnail" src="@Url.Content("/" + this.Model.ImagePath)" />
                    <span>@this.Localizer["Preview"]</span>
                </div>
                <div class="col-12 col-sm-12 col-md-11">
                    <label asp-for="@this.Model.FileImage">@Localizer["Select image"]</label>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><i class="fa fa-file-image-o input-group-text"></i></div>
                        <input asp-for="@this.Model.FileImage" class="form-control-file" type="file" accept="image/*" placeholder="@Localizer["Select image"]" />
                    </div>
                    <div><span asp-validation-for="@this.Model.FileImage" class="text-danger"></span></div>
                </div>
            </div>
        </div>
        <hr role="separator" />
        <div class="form-group text-right">
            <button class="btn btn-primary" type="submit" title="@Localizer["Save"]"><i class="fa fa-save"></i></button>
            @*<button class="btn btn-outline-secondary" type="submit">@Localizer["Back"]</button>*@
        </div>
    </form>
</div>