@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EditProductViewModel

@{
    switch (this.Model.Mode)
    {
        case ThAction.Add:
            ViewBag.Title = Localizer["Add Product"];
            break;
        case ThAction.Edit:
            ViewBag.Title = Localizer["Edit Product"];
            break;
        default:
            break;
    }
}

<div class="bg-light">
    <div class="m-3">
        <form method="post" asp-action="Save" enctype="multipart/form-data" asp-antiforgery="true" role="form">
            @Html.AntiForgeryToken()
            <input asp-for="@this.Model.Id" type="hidden" />
            <input asp-for="@this.Model.Mode" type="hidden" value="@this.Model.Mode" />
            <input asp-for="@this.Model.ImagePath" type="hidden" value="@this.Model.ImagePath" />
            <input asp-for="@this.Model.CurrentLanguage" type="hidden" value="@this.Model.CurrentLanguage" />

            <ul class="nav nav-tabs" role="tablist">
                @foreach (Language l in this.Model.SupportLanguages)
        {
            <li class="nav-item">
                <a class="nav-link @(l.LanguageId == this.Model.CurrentLanguage ? "active" : string.Empty)" data-toggle="tab" href="#@l.LanguageId" role="tab">@l.Name</a>
            </li>
}
            </ul>
            <div class="tab-content bg-white p-3 border border-top-0">
                @for (int i = 0; i < this.Model.Translations.Count; i++)
        {
            <div class="tab-pane @(this.Model.Translations[i].LanguageId == this.Model.CurrentLanguage? "active": string.Empty)" id="@this.Model.Translations[i].LanguageId" role="tabpanel">
                <input type="hidden" asp-for="@this.Model.Translations[i].LanguageId" />
                <div class="form-group">
                    <label asp-for="@this.Model.Translations[i].Name">@Localizer["Name"]</label>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><i class="fa fa-edit input-group-text"></i></div>
                        <input asp-for="@this.Model.Translations[i].Name" class="form-control" placeholder="@Localizer["Name"]" />
                    </div>
                    <div><span asp-validation-for="@this.Model.Translations[i].Name" class="text-danger"></span></div>
                </div>

                <div class="form-group">
                    <label asp-for="@this.Model.Translations[i].Description">@Localizer["Description"]</label>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend"><i class="fa fa-sticky-note input-group-text"></i></div>
                        <textarea asp-for="@this.Model.Translations[i].Description" class="form-control" rows="10" placeholder="@Localizer["Description"]"></textarea>
                    </div>
                    <div><span asp-validation-for="@this.Model.Translations[i].Name" class="text-danger"></span></div>
                </div>
            </div>
}
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.UnitPrice">@Localizer["UnitPrice"]</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><i class="fa fa-edit input-group-text"></i></div>
                    <input asp-for="@this.Model.UnitPrice" class="form-control" placeholder="@Localizer["UnitPrice"]" />
                </div>
                <div><span asp-validation-for="@this.Model.UnitPrice" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-1 text-center">
                        <img class="img-thumbnail" src="@Url.Content("/" + this.Model.ImagePath)" />
                        <span>@this.Localizer["Preview"]</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
                        <label asp-for="@this.Model.FileImage">@Localizer["Select image"]</label>
                        <span class="input-group input-group-sm">
                            <span class="input-group-prepend"><i class="fa fa-file-image-o input-group-text"></i></span>
                            <label class="custom-file">
                                <input asp-for="@this.Model.FileImage" class="custom-file-input" type="file" accept="image/*" placeholder="@Localizer["FileImage"]" />
                                <span class="custom-file-control"></span>
                            </label>
                        </span>
                        <div><span asp-validation-for="@this.Model.FileImage" class="text-danger"></span></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@this.Model.CategoryId">@Localizer["Select category"]</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><i class="fa fa-hand-o-up input-group-text"></i></div>
                    <select asp-for="@this.Model.CategoryId" asp-items="@(new SelectList(this.Model.Categories, nameof(Category.Id), nameof(Category.Name)))" class="form-control">
                        <option value="">@Localizer["Please select category"]</option>
                    </select>
                </div>
                <div><span asp-validation-for="@this.Model.CategoryId" class="text-danger"></span></div>
            </div>

            <div class="form-group">
                <label asp-for="@this.Model.SupplierId">@Localizer["Select supplier"]</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend"><i class="fa fa-hand-o-up input-group-text"></i></div>
                    <select asp-for="@this.Model.SupplierId" asp-items="@(new SelectList(this.Model.Suppliers, nameof(Supplier.Id), nameof(Supplier.Name)))" class="form-control">
                        <option value="">@Localizer["Please select supplier"]</option>
                    </select>
                </div>
                <div><span asp-validation-for="@this.Model.SupplierId" class="text-danger"></span></div>
            </div>

            <div class="form-group">
                <label asp-for="@this.Model.ProductStatusId">@this.Localizer["Select Status"]</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-append"><i class=" fa fa-hand-o-up input-group-text"></i></div>
                    <select asp-for="@this.Model.ProductStatusId" asp-items="@(new SelectList(this.Model.ProductStatuses, nameof(ProductStatus.Id), nameof(ProductStatus.Name)))" class="form-control">
                        <option value="">@this.Localizer["Please select status"]</option>
                    </select>
                </div>
            </div>
            <hr role="separator" />
            <div class="text-right">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" title="@this.Localizer["Save"]" role="button"><i class="fa fa-save"></i></button>
                    @*<button class="btn btn-danger" asp-controller="Home" asp-action="Index" title="@Localizer["Cancel"]"><i class="fa fa-arrow-left"></i></button>*@
                </div>
            </div>
        </form>
    </div>
</div>