@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductListViewModel
@{
    this.ViewBag.Title = this.Localizer["Products"];
}
<div>
    <div class="bg-light text-right">
        <a asp-controller="Product" asp-action="AddCategory" class="card-link">@Localizer["Create Category"]</a>
        <a asp-controller="Product" asp-action="Add" class="card-link">@Localizer["Create Product"]</a>
        <a asp-controller="Supplier" asp-action="Add" class="card-link">@Localizer["Create Supplier"]</a>
    </div>

    <div class="row">
        @if (this.Model.Products.Count() > 0)
        {
            @foreach (Product p in this.Model.Products)
            {
                <div class="mt-1 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card w-100 h-100">
                        <div class="card-header bg-dark">
                            <h6 class="card-title text-white">@p.Name</h6>
                            <span class="badge badge-primary pull-right">@p.UnitPrice.ToString("c")</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <img class="card-img-top" src="@Url.Content(p.ImagePath)" />
                                </div>
                                <div class="col-9">
                                    <p class="card-text"><small>@p.Description</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="m-3">
                            <a class="card-link pull-right" asp-controller="Product" asp-action="ShowProductDetails" asp-route-productId="@p.Id">@this.Localizer["Show details"] <i class="fa fa-angle-double-right"></i></a>
                        </div>
                        <div class="card-footer">
                            <form asp-action="Delete" asp-controller="Product" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@p.Id" />
                                <div class="btn-group pull-right">
                                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-controller="Product" asp-route-id="@p.Id" title="@this.Localizer["Edit"]"><i class="fa fa-pencil"></i></a>
                                    <button type="submit" class="btn btn-sm btn-danger" title="@this.Localizer["Delete"]"><i class="fa fa-times"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                @this.Localizer["No data found."]
            </div>
        }
    </div>
</div>