@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductListViewModel

@{
    if (this.Model.CurrentCategory != 0)
    {
        ViewBag.Title = this.Model.Categories.Single(c => c.Id == this.Model.CurrentCategory).Name;
    }
    else
    {
        ViewBag.Title = this.Localizer["Products"];
    }
}

<div class="bg-light">
    <div class="row">
        @*<div class="col-3">
                <div class="d-flex flex-column">
                    @await this.Component.InvokeAsync("NavigationMenu", new { categoryId = this.Model.CurrentCategory })
                </div>
            </div>*@
        <div class="col-12">
            <div class="row">
                @if (this.Model.Products.Count() > 0)
                {
                    @foreach (var p in this.Model.Products)
                    {
                        <div class="mt-1 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card w-100 h-100">
                                <div class="card-header bg-dark">
                                    <h6 class="card-title text-white">@p.Name</h6>
                                    <span class="badge badge-primary pull-right">@p.UnitPrice.ToString("c")</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3">
                                            <img class="card-img-top" src="@Url.Content("/" + p.ImagePath)" />
                                        </div>
                                        <div class="col-9">
                                            <p class="card-text"><small>@p.Description</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-3">
                                    <a class="card-link pull-right" asp-controller="Product" asp-action="ShowProductDetails" asp-route-productId="@p.Id">@this.Localizer["Show details"] <i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="card-footer">
                                    <form id="@p.Id" asp-action="AddToCart" asp-controller="Cart" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@p.Id" />
                                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                        <div>
                                            <button type="submit" class="btn btn-success btn-sm pull-right">@*@this.Localizer["Add to cart"]*@<i class="fa fa-cart-plus"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="pl-4">@this.Localizer["No data found."]</div>
                }
            </div>
            <div class="mt-2 border border-primary border-left-0 border-right-0 border-bottom-0">
                <div class="btn-group p-1 pull-right" page-model="@this.Model.PagingInfo" page-action="GetProductByCategoryId" page-classes-enabled="true" page-class="btn" page-normal="btn-success" page-selected="btn-secondary" page-url-categoryId="@this.Model.CurrentCategory"></div>
            </div>
        </div>
    </div>
</div>