@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductDetailsViewModel
@{
    this.ViewBag.Title = this.Localizer["Title"];
}

<div class="bg-light">
    <div class="row p-3">
        <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
            <img class="card-img-bottom" src="@Url.Content("/" + this.Model.Product.ImagePath)" alt="@this.Model.Product.Name" />
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-10 col-xl-10 mt-2">
            <p class="comment">@this.Model.Product.Category.Name</p>
            <h5 class="">@this.Model.Product.Name</h5>
            <small>@this.Model.Product.Description</small><br />
            <p>&nbsp;</p>
            <small><u>@this.Localizer["Price"]:</u></small><h4 class="text-primary"> @this.Model.Product.UnitPrice.ToString("c")</h4>

            <div class="text-right">
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = 'https://connect.facebook.net/@(this.Model.CurrentLanguage.Replace("-", "_"))/sdk.js#xfbml=1&version=v2.11';
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>

            <div class="mt-2 border border-warning border-left-0 border-right-0 border-bottom-0 pt-2">
                <form id="@this.Model.Product.Id" asp-action="AddToCart" asp-controller="Cart" method="post" class="form-row">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@this.Model.Product.Id" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <div class="form-group row">
                        @*<label asp-for="@this.Model.Quantiy" class="col-2 col-form-label">@this.Localizer["Quantity"]</label>*@
                        <div class="col-8">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-success" title="@this.Localizer["Add to cart"]"><i class="fa fa-cart-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-12">
            Feature.
        </div>
    </div>
</div>